In [2]:
import pandas as pd

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
engine.connect()

In [6]:
# df = pd.read_csv('yellow_tripdata_2021-01.csv.gz')

In [7]:
# df.shape[0]

In [ ]:
# df = pd.read_csv('green_tripdata_2019-09.csv.gz', chunksize=100000, iterator=True, compression='gzip')

In [15]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz', compression='gzip')

/tmp/ipykernel_14348/1601533053.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-09.csv.gz', compression='gzip')

In [16]:
df.shape[0]

449063

In [17]:
df.dtypes

VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object

In [18]:
df.head(5)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [19]:
# df_chunk = next(df)

In [ ]:
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

In [25]:
df.dtypes

VendorID                        float64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [ ]:
# df_chunk_header = pd.DataFrame(df_chunk).head(0)
# df_chunk_header

In [ ]:
print(
    pd.io.sql.get_schema(df_chunk_header, name='yellow_taxi_data', con=engine)
)

In [27]:
df.to_sql(name='week1_homework_green_taxi_data', con=engine, if_exists='replace', index=False)

63

In [30]:
df_week1_taxi_zone_lookup = pd.read_csv('taxi+_zone_lookup.csv')

In [31]:
df_week1_taxi_zone_lookup.head(5)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [32]:
df_week1_taxi_zone_lookup.to_sql(name='week1_homework_taxi_zone_lookup', con=engine, index=False, if_exists='replace')

265

In [ ]:
# df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', chunksize=100000, iterator=True)

In [ ]:
# from time import time

In [ ]:
# while True:
#     t_start = time()

#     df_chunk = next(df)
    
#     df_chunk['tpep_pickup_datetime'] = pd.to_datetime(df_chunk['tpep_pickup_datetime'])
#     df_chunk['tpep_dropoff_datetime'] = pd.to_datetime(df_chunk['tpep_dropoff_datetime'])  
    
#     df_chunk.to_sql(name='week1_homework', con=engine, if_exists='append', index=False)
    
#     t_end = time()
    
#     print(f'Inserted another chunk.. %.3f seconds ' % (t_end - t_start))